.timeline__container {
    position: relative;
    padding-left: 1rem;
    border-left: 3px solid var(--jaune);
}

.timeline__item {
    position: relative;
    margin-bottom: 2rem;
}

.timeline__content {
    background-color: #2f2f2f;
    border-radius: 16px;
    padding: 1.6rem 1.8rem;

    margin-left: 1.5rem;
    width: calc(100% - 1.5rem);

    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

.timeline__year {
    font-family: "Space Mono", monospace;
    font-size: 1.05rem;
    margin-bottom: 0.7rem;
    color: var(--jaune);
}

.timeline__text {
    font-size: 1rem;
    line-height: 1.75;
    color: var(--blanc-casse);
}