/* utils*/
@import "utils/variables.css";

/* vendors */
@import "vendors/normalize.css";

/* base */
@import "base/main.css";
@import "base/media.css";

/* layout */
@import "layout/header.css";
@import "layout/footer.css";

/* components */
@import "components/buttons.css";
@import "components/card.css";
@import "components/carousel.css";
@import "components/cta.css";
@import "components/hero.css";
@import "components/menu.css";
@import "components/breadcrum.css";
@import "components/projet.css";
@import "components/contact.css";
@import "components/glossary.css";
@import "components/article.css";
@import "components/breadcrum.css";
@import "components/timeline.css";